<ion-view view-title="Detalhes">
<ion-nav-buttons side="right">
	<button class="icon button button-clear" menu-toggle="left" menu-close><img src="img/icon.png" alt=""></button>
</ion-nav-buttons>
  <ion-content>
    <ion-list class="detalhes-wrapper">
    	<ion-item class="detalhes-title">
			<div class="row">
				<div class="col">
					<h2>Seguro automotivo</h2>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>Placa</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>marca</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>modelo</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>Ano</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>cor</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>condutor</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>cpf</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>valor seguro</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>franquia</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>tabela fipe</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>danos materias</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>danos corporais</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>assistência 24h</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>carro reserva</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>despesas extras</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>vidros franquia</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>retrovisores franquia</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>faróis franquia</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>lanterna franquia</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>seguradora</h3>
				</div>
				<div class="col col-33">
					<p>Required</p>
				</div>
			</div>
    	</ion-item>
    	<ion-item>
			<div class="row">
				<div class="col col-67">
					<h3>apólice</h3>
				</div>
				<div class="col col-33">
					<p class="text-positive">abrir arquivo</p>
				</div>
			</div>
    	</ion-item>
	    <button class="item button button-block button-positive renovacao-button" type="submit">voltar</button>
    </ion-list>
  </ion-content>
</ion-view>
