<ion-view view-title="Login" class="login-view">
    <div class="login-wrap">
        <div class="list">
            <div class="item login-logo-item">
                <img src="img/login_icon.png" alt="">
            </div>
            <p class="text-center">
            </p>
        </div>
        <div class="list input-list">
            <label class="item item-input item-clear">
              <input type="password" class="text-center" placeholder="SENHA" ng-model="password" ng-keyup="checkIfPassNotEmpty()">
            </label>
        </div>
        <div class="button-wrap">
            <button ng-disabled="disableBtn" ng-click="doLogin()" class="button button-block button-light">ENTRAR</button>
        </div>
    </div>
</ion-view>
