<ion-view view-title="Login" class="login-view">
    <div class="login-wrap">
        <div class="list">
            <div class="item login-logo-item">
                <img src="img/login_icon.png" alt="">
            </div>
        </div>
        <div class="list input-list">
            <label class="item item-input item-clear">
              <input type="text" placeholder="CPF/CNPJ">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="SENHA">
            </label>
        </div>
        <div class="button-wrap">
            <a class="button button-block button-light" href="#/app/path">ENTRAR</a>
            <p class="text-center">
                <a href="#/forgot-password">Esqueceu sua senha?</a>
            </p>
        </div>
    </div>
</ion-view>
