<ion-view view-title="Login" class="login-view">
    <div class="login-wrap">
        <div class="list">
            <div class="item login-logo-item">
                <img src="img/login_icon.png" alt="">
            </div>
            <p class="text-center">
            </p>
        </div>
        <div class="list input-list">
            <label class="item item-input item-clear">
              <input type="password" class="text-center" placeholder="SUA SENHA" ng-model="pass1">
            </label>
          <label class="item item-input item-clear">
            <input type="password" class="text-center" placeholder="REPITA A SENHA" ng-model="pass2" ng-keyup="checkIfPassMatches()">
          </label>
        </div>
        <div class="button-wrap">
            <button ng-disabled="disableBtn" ng-click="createNewPass()" class="button button-block button-light">CRIAR SENHA</button>
        </div>
    </div>
</ion-view>
