<ion-view view-title="Novo Sinistro">
	<ion-nav-buttons side="right">
	    <button class="icon ion-android-car button button-clear button-energized" menu-toggle="left" menu-close></button>
	</ion-nav-buttons>
  <ion-content>
    <div class="list renovacao-list-wrap">
    	<div class="item padding">
			<div class="list renovacao-list">
				<div class="row">
					<label class="item item-input item-select col select-input">
						<span class="input-label">Placa &nbsp;&nbsp;<b>Selecione o carro pela lista</b></span>
			      		<select class="my_select">
					      <option>DNY-6534</option>
					      <option selected>DNY-6534</option>
					      <option>DNY-6534</option>
					    </select>
			    	</label>
			    </div>
			    <div class="row">
					<label class="item item-input item-stacked-label col">
						<span class="input-label">marca</span>
			      		<input type="text" value="Land Rover">
			    	</label>
			    </div>
			    <div class="row">
					<label class="item item-input item-stacked-label col">
						<span class="input-label">Modelo</span>
			      		<input type="text" value="Range Rover Evoque Dynamic">
			    	</label>
			    </div>

			    <div class="row">
					<label class="item item-input item-stacked-label col col-50 padding-right-10">
						<span class="input-label">ano</span>
			      		<input type="text" value="2014/2014">
			    	</label>
			    	<label class="item item-input item-stacked-label col col-50 padding-left-10">
						<span class="input-label">ano</span>
			      		<input type="text" value="Vermelho">
			    	</label>
			    </div>

			    <div class="row">
					<label class="item item-input item-stacked-label col">
						<span class="input-label">endereço do sinistro</span>
						<i class="location_icon icon ion-ios-location"></i>
			      		<input type="text" value="" >
			    	</label>
			    </div>

			    <div class="row">
					<label class="item item-input item-stacked-label col">
						<span class="input-label">seguradora</span>
			      		<input type="text" value="Brasil Insurance" >
			    	</label>
			    </div>
			    <div class="row">
					<label class="item item-input item-stacked-label col">
						<span class="input-label">apólice</span>
			      		<input type="text" value="Ver documento" class="input-positive">
			    	</label>
			    </div>
			</div>
    	</div>
	    <button class="item button icon icon ion-ios-telephone button-block button-positive renovacao-button" type="submit">&nbsp;&nbsp;  acionar</button>
	    
    </div>
  </ion-content>
</ion-view>
