<ion-view view-title="Meu corretor">
	<ion-nav-buttons side="right">
	    <button class="icon button button-clear" menu-toggle="left" menu-close><img src="img/icon.png" alt=""></button>
	</ion-nav-buttons>
  <ion-content>
    <ion-list class="path-wrapper">
    	<ion-item class="broker-img">
    		<img src="img/broker.png" alt="">
    	</ion-item>
    	<div class="item broker-title item-icon-right" ng-click="collapsed=!collapsed">
			<img src="img/vini.png" alt="">
    		<div class="broker-title-content">
    			<h2>Lucas Rico</h2>
    			<p><i class="icon ion-ios-location icon-location-broker"></i>&nbsp;&nbsp;&nbsp;&nbsp;São Paulo, SP <i ng-show="collapsed" class="icon ion-ios-arrow-up icon-accessory"></i><i  ng-hide="collapsed" class="icon ion-ios-arrow-down icon-accessory"></i></p>
    		</div>
    	</div>
    	<ion-item class="broker-details" ng-show="collapsed">
    		<h2>Serviços oferecidos</h2>
    		<div class="row broker-services">
    			<div class="col col-50">
    				<ion-list>
						<ion-item>
							<i><img src="img/service1.png" alt=""></i>
							<p class="stp">Seguro Portáteis</p>
						</ion-item>
						<ion-item>
							<i><img src="img/service2.png" alt=""></i>
							<p>Seguro Viagem</p>
						</ion-item>
						<ion-item>
							<i><img src="img/service3.png" alt=""></i>
							<p class="stp">Seguro de Vida</p>
						</ion-item>
						<ion-item>
							<i><img src="img/service4.png" alt=""></i>
							<p class="stp">Seguro Residência</p>
						</ion-item>
    				</ion-list>
    			</div>
    			<div class="col col-50">
    				<ion-list>
						<ion-item>
							<i><img src="img/service5.png" alt=""></i>
							<p>Seguro Resp Civil<br>e Profissional</p>
						</ion-item>
						<ion-item>
							<i><img src="img/service6.png" alt=""></i>
							<p>Seguro Acidentes<br>Pessoais</p>
						</ion-item>
						<ion-item>
							<i><img src="img/service7.png" alt=""></i>
							<p>Seguro Automóveis</p>
						</ion-item>
    				</ion-list>
    			</div>
    		</div>
    		<h2>Contatos</h2>
    		<ion-list class="contacts">
				<ion-item>
					<p><a ng-href="tel:(11) 3240-7878"><i class="icon ion-android-call"></i>&nbsp;&nbsp;(11) 3240-7878</a></p>
				</ion-item>
				<ion-item>
					<p class="contact-text"><i class="icon ion-android-chat"></i>&nbsp;&nbsp;ENVIAR MENSAGEM</p>
				</ion-item>
				<ion-item>
					<p><a href="mailto:lucas@criar.me"><i class="icon ion-email"></i>&nbsp;&nbsp;lucas@criar.me</a></p>
				</ion-item>
				<ion-item>
					<p><i class="icon ion-link"></i>&nbsp;&nbsp;www.corretora.com</p>
				</ion-item>
    		</ion-list>
    	</ion-item>
    	<ion-item class="direction-heading">
			<h2>seus seguros</h2>
    	</ion-item>
    	<ion-item class="directions">
			<ion-list>
				<ion-item>
					<div class="left-line"></div>
					<i class="icon ion-android-car orange"></i>
					<h2>Seguro Automotivo</h2>
					<p>Land Rover Range Rover Evoque<br>DNW6793<br>São Paulo, SP</p>
					<button ng-click="moveToDetalhes()" class="button button-positive button-small">ver mais</button>
				</ion-item>
				<ion-item>
					<div class="left-line"></div>
					<i class="icon ion-ios-home"></i>
					<h2>Seguro Automotivo</h2>
					<p>Land Rover Range Rover Evoque<br>DNW6793<br>São Paulo, SP</p>
					<button class="button button-positive button-small">ver mais</button>
					<button ng-click="moveTorenovacaoDetail()" class="button button-energized button-small">renovar</button>
				</ion-item>
				<ion-item>
					<div class="left-line"></div>
					<i class="icon ion-android-plane orange"></i>
					<h2>Seguro Automotivo</h2>
					<p>Land Rover Range Rover Evoque<br>DNW6793<br>São Paulo, SP</p>
					<button class="button button-positive button-small">ver mais</button>
				</ion-item>
			</ion-list>
    	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
