<ion-view view-title="Meu cadastro">
<ion-nav-buttons side="right">
	<button class="icon button button-clear" menu-toggle="left" menu-close><img src="img/icon.png" alt=""></button>
</ion-nav-buttons>
  <ion-content>
    <div class="list profile-list">
    	<div class="item profile-photo-section">
    		<a ng-click="takePhoto()">clique aqui para adicionar <br>ou editar a sua foto</a>
    	</div>
		<label class="item item-input">
	      	<span class="input-label">Nome</span>
	      	<input type="text" ng-model="user.name" placeholder="Vinícius Santos">
	    </label>
		<label class="item item-input">
	      	<span class="input-label">TEL</span>
	      	<input type="text" ng-model="user.phone" placeholder="(11) 5478-3256">
	    </label>
		<label class="item item-input item-stacked-label">
	      	<span class="input-label">endereço</span>
	      	<textarea ng-model="user.location" placeholder="Alameda Blingbling, 215. Apto 14 Santana de Paraíba, SP">
          </textarea>
	    </label>
	    <div class="item item-divider"></div>
	    <label class="item item-input">
	      	<span class="input-label">Email</span>
	      	<input type="email" ng-model="user.email" placeholder="vfssantos@gmail.com">
	    </label>
		<label class="item item-input">
	      	<span class="input-label">Senha</span>
	      	<input type="password" ng-model="user.password">
	    </label>
	    <div class="item item-divider"></div>
	    <button class="item button button-block button-positive" ng-click="updateUserInfo()">enviar</button>
    </div>
  </ion-content>
</ion-view>
