<ion-view view-title="Renovação">
<ion-nav-buttons side="right">
	<button class="icon button button-clear" menu-toggle="left" menu-close><img src="img/icon.png" alt=""></button>
</ion-nav-buttons>
  <ion-content>
    <div class="list renovacao-list-wrap">
    	<div class="item padding">
			<div class="list renovacao-list">
				<div class="row">
					<label class="item item-input item-stacked-label col col-50">
						<span class="input-label">Placa</span>
			      		<input type="text" value="DNY-6534">
			    	</label>
			    </div>
			    <div class="row">
					<label class="item item-input item-stacked-label col">
						<span class="input-label">marca veículo</span>
			      		<input type="text" value="Volkswagen">
			    	</label>
			    </div>
			    <div class="row">
					<label class="item item-input item-stacked-label col">
						<span class="input-label">modelo veículo</span>
			      		<input type="text" value="Novo Fusca">
			    	</label>
			    </div>

			    <div class="row">
					<label class="item item-input item-stacked-label col col-50 padding-right-10">
						<span class="input-label">ano fabricação</span>
			      		<input type="text" value="2014">
			    	</label>
			    	<label class="item item-input item-stacked-label col col-50 padding-left-10">
						<span class="input-label">ano modelo</span>
			      		<input type="text" value="2015">
			    	</label>
			    </div>

			    <div class="row">
					<label class="item item-input item-stacked-label col">
						<span class="input-label">tabela fipe</span>
			      		<input type="text" value="R$120.000,00">
			    	</label>
			    </div>
			</div>
    	</div>
	    <button class="item button button-block button-positive renovacao-button" type="submit">avançar</button>
	    
    </div>
  </ion-content>
</ion-view>
