<ion-view view-title="Renovação">
<ion-nav-buttons side="right">
	<button class="icon button button-clear" menu-toggle="left" menu-close><img src="img/icon.png" alt=""></button>
</ion-nav-buttons>
  <ion-content>
    <div class="list renovacao-list-wrap">
    	<div class="item padding">
	    	<ion-slide-box>
			  <ion-slide>
				<div class="list renovacao-list">
						<div class="row">
							<label class="item item-input item-stacked-label col">
								<span class="input-label">seguradora</span>
					      		<img src="img/renovar1.png" alt="">
					    	</label>
					    </div>
					    <div class="row">
							<label class="item item-input item-stacked-label col">
								<span class="input-label">valor do seguro</span>
					      		<input type="text" value="R$2.300,00">
					    	</label>
					    </div>
					    <div class="row">
							<label class="item item-input item-stacked-label col">
								<span class="input-label">franquia veículo</span>
					      		<input type="text" value="R$1.200,00">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col col-50 padding-right-10">
								<span class="input-label">danos materiais</span>
					      		<input type="text" value="R$30.000,00">
					    	</label>
					    	<label class="item item-input item-stacked-label col col-50 padding-left-10">
								<span class="input-label">danos corporais</span>
					      		<input type="text" value="R$50.000,00">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col col-50 padding-right-10">
								<span class="input-label">valor vidros</span>
					      		<input type="text" value="R$200,00">
					    	</label>
					    	<label class="item item-input item-stacked-label col col-50 padding-left-10">
								<span class="input-label">valor retrovisores</span>
					      		<input type="text" value="R$150,00">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col col-50 padding-right-10">
								<span class="input-label">valor faróis</span>
					      		<input type="text" value="R$300,00">
					    	</label>
					    	<label class="item item-input item-stacked-label col col-50 padding-left-10">
								<span class="input-label">valor lanternas</span>
					      		<input type="text" value="R$100,00">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col">
								<span class="input-label">disponibilidade de carro reserva</span>
					      		<input type="text" value="15 dias">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col col-50 padding-right-10">
								<span class="input-label">parcelas</span>
					      		<input type="text" value="4x">
					    	</label>
					    </div>
				</div>
			  </ion-slide>
			  <ion-slide>
				<div class="list renovacao-list">
						<div class="row">
							<label class="item item-input item-stacked-label col">
								<span class="input-label">seguradora</span>
					      		<img src="img/renovar2.png" alt="">
					    	</label>
					    </div>
					    <div class="row">
							<label class="item item-input item-stacked-label col">
								<span class="input-label">valor do seguro</span>
					      		<input type="text" value="R$2.300,00">
					    	</label>
					    </div>
					    <div class="row">
							<label class="item item-input item-stacked-label col">
								<span class="input-label">franquia veículo</span>
					      		<input type="text" value="R$1.200,00">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col col-50 padding-right-10">
								<span class="input-label">danos materiais</span>
					      		<input type="text" value="R$30.000,00">
					    	</label>
					    	<label class="item item-input item-stacked-label col col-50 padding-left-10">
								<span class="input-label">danos corporais</span>
					      		<input type="text" value="R$50.000,00">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col col-50 padding-right-10">
								<span class="input-label">valor vidros</span>
					      		<input type="text" value="R$200,00">
					    	</label>
					    	<label class="item item-input item-stacked-label col col-50 padding-left-10">
								<span class="input-label">valor retrovisores</span>
					      		<input type="text" value="R$150,00">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col col-50 padding-right-10">
								<span class="input-label">valor faróis</span>
					      		<input type="text" value="R$300,00">
					    	</label>
					    	<label class="item item-input item-stacked-label col col-50 padding-left-10">
								<span class="input-label">valor lanternas</span>
					      		<input type="text" value="R$100,00">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col">
								<span class="input-label">disponibilidade de carro reserva</span>
					      		<input type="text" value="15 dias">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col col-50 padding-right-10">
								<span class="input-label">parcelas</span>
					      		<input type="text" value="4x">
					    	</label>
					    </div>
				</div>
		    	
			  </ion-slide>
			  <ion-slide>
				<div class="list renovacao-list">
						<div class="row">
							<label class="item item-input item-stacked-label col">
								<span class="input-label">seguradora</span>
					      		<img src="img/renovar3.png" alt="">
					    	</label>
					    </div>
					    <div class="row">
							<label class="item item-input item-stacked-label col">
								<span class="input-label">valor do seguro</span>
					      		<input type="text" value="R$2.300,00">
					    	</label>
					    </div>
					    <div class="row">
							<label class="item item-input item-stacked-label col">
								<span class="input-label">franquia veículo</span>
					      		<input type="text" value="R$1.200,00">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col col-50 padding-right-10">
								<span class="input-label">danos materiais</span>
					      		<input type="text" value="R$30.000,00">
					    	</label>
					    	<label class="item item-input item-stacked-label col col-50 padding-left-10">
								<span class="input-label">danos corporais</span>
					      		<input type="text" value="R$50.000,00">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col col-50 padding-right-10">
								<span class="input-label">valor vidros</span>
					      		<input type="text" value="R$200,00">
					    	</label>
					    	<label class="item item-input item-stacked-label col col-50 padding-left-10">
								<span class="input-label">valor retrovisores</span>
					      		<input type="text" value="R$150,00">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col col-50 padding-right-10">
								<span class="input-label">valor faróis</span>
					      		<input type="text" value="R$300,00">
					    	</label>
					    	<label class="item item-input item-stacked-label col col-50 padding-left-10">
								<span class="input-label">valor lanternas</span>
					      		<input type="text" value="R$100,00">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col">
								<span class="input-label">disponibilidade de carro reserva</span>
					      		<input type="text" value="15 dias">
					    	</label>
					    </div>

					    <div class="row">
							<label class="item item-input item-stacked-label col col-50 padding-right-10">
								<span class="input-label">parcelas</span>
					      		<input type="text" value="4x">
					    	</label>
					    </div>
				</div>
			  </ion-slide>
			</ion-slide-box>
    	</div> 
	    <a href="#/app/renovacao" class="item button button-block button-positive uppercase">confirmar</a>
	    
    </div>
  </ion-content>
</ion-view>
